body {
  margin: 0;
  padding: 0;
  background-color: #bde4f5;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1,
h2,
h3 {
  color: #000;
}

p {
  color: #333;
}

ul,
li {
  color: #333;
}

button {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

input[type='text'],
input[type='email'],
textarea {
  border: 2px solid #333;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  margin: 0 -20px;
}

.navbar-brand-link {
  margin-right: 20px;
}

.navbar-links {
  margin-left: 20px;
}

.navbar-link {
  margin: 0 10px;
}
.navbar-brand-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.navbar-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}
